{%extends "base.html" %} {% block main %}
<div style="display: none">{% block blog %}current{% endblock %}</div>
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-4 col-12-medium">
        <!-- Sidebar -->
        <div id="sidebar">
          <section class="widget thumbnails">
            <div class="grid">
              <div class="row gtr-50">
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img
                      src="{{ url_for('static', filename='images/'+blog.thumbnail) }}"
                      alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img
                      src="{{ url_for('static', filename='images/'+blog.thumbnail) }}"
                      alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img
                      src="{{ url_for('static', filename='images/'+blog.thumbnail) }}"
                      alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img
                      src="{{ url_for('static', filename='images/'+blog.thumbnail) }}"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-8 col-12-medium imp-medium">
        <!-- Content -->
        <div id="content">
          <section class="last">
            <h2>{{blog.title}}</h2>
            <p>{{blog.subtitle}}</p>
            <p>{{blog.description}}</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
