{%extends "base.html" %} {% block main %}
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="col-7 col-12-medium">
        <h2>Hi. This is Bulon.</h2>
        <p>It's a free responsive blogging website</p>
      </div>
      <div class="col-5 col-12-medium">
        <form action="" method="post">
          <input
            type="email"
            name="email"
            style="margin: 5px"
            placeholder="Email"
            required
          />
          <input
            type="password"
            name="password"
            style="margin: 5px"
            placeholder="password"
            required
          />

          <input type="submit" class="button" value="Login" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
