{%extends "base.html" %} {% block main %}
<div style="display: none">{% block profile %}current{% endblock %}</div>
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="col-7 col-12-medium">
        <h2>Hi. This is Bulon.</h2>
        <p>It's a free responsive blogging website</p>
      </div>
      <div class="col-5 col-12-medium">
        <ul>
          <li>
            <a
              href="{{url_for('logout')}}"
              style="background-color: red"
              class="button large icon solid fa-arrow-circle-right"
              >Log Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
